<div class="container-fluid">
    <div class="row">
    	<div class="col-lg-10 vcenter">
        	<h1 style="">goodReadsAddict<small style="color: teal;">.com</small></h1>
        </div><!--
		--><div class="col-lg-2 vcenter">
            <div class="dropdown" style="margin-top: 10%; margin-left: 10%;">
			  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
				{{loggedInUser}}
				<span class="caret"></span>
			  </button>
			  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
			  	<li role="presentation"><a role="menuitem" tabindex="-1" href="#/admin"><span class="glyphicon glyphicon-home"></span> &nbsp;Home</a></li>
				<li role="presentation"><a role="menuitem" tabindex="-1" href="#/adminProfile"><span class="glyphicon glyphicon-user"></span> &nbsp;Profile</a></li>
				<li role="presentation" class="divider"></li>
				<li role="presentation"><a role="menuitem" tabindex="-1" href="#"><span class="glyphicon glyphicon-log-out"></span> &nbsp;Sign Out</a></li>
			  </ul>
			</div>
        </div>
	</div>
	<br />
	<div class="alert alert-success" role="alert" ng-show="passwordChanged == 'true'">
		<p><span class="glyphicon glyphicon-ok"></span> &nbsp; Password changed successfully</p>
	</div>
	<div class="alert alert-warning" role="alert" ng-show="passwordChanged == 'false'">
		<p><span class="glyphicon glyphicon-warning-sign"></span> &nbsp; Please enter correct Current Password</p>
	</div>
	<div class="alert alert-warning" role="alert" ng-show="error == true">
		<p><span class="glyphicon glyphicon-warning-sign"></span> &nbsp; Confirm Password field does not match with your New Password</p>
	</div>
	<div class="alert alert-warning" role="alert" ng-show="emptyError == true">
		<p><span class="glyphicon glyphicon-warning-sign"></span> &nbsp; Please enter Password fields</p>
	</div>
    <div class="row" style="height: 500px;">
	    <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <div class="panel panel-default">
              <div class="panel-heading"><strong style="font-family: Calibri; font-size: 24px;">Change Password</strong></div>
              <div class="panel-body text-center">
              	<form class="form-horizontal" role="form">
				  <div class="form-group">
					<label for="inputPassword" class="col-sm-4 control-label">Current Password <font style="color: red">&nbsp;*</font></label>
					<div class="col-sm-6">
					  <input type="password" class="form-control" placeholder="Current Password" ng-model="currentPassword">
					</div>
				  </div>
				  <div class="form-group">
					<label for="inputPassword" class="col-sm-4 control-label">New Password <font style="color: red">&nbsp;*</font></label>
					<div class="col-sm-6">
					  <input type="password" class="form-control" placeholder="New Password" ng-model="newPassword">
					</div>
				  </div>
				  <div class="form-group">
					<label class="col-sm-4 control-label">Confirm New Password <font style="color: red">&nbsp;*</font></label>
					<div class="col-sm-6">
					  <input type="password" class="form-control" placeholder="Confirm New Password" ng-model="confirmPassword">
					</div>
				  </div>
				  <button type="submit" class="btn btn-primary" style="margin-right: 2%;" ng-click="updatePassword()">Submit</button>
				  <button type="button" class="btn btn-default" ng-click="clearFields()">Cancel</button>
				</form>
              </div>
            </div>
        </div>
        <div class="col-lg-2"></div>
    </div>
    <div class="row text-center footer">
    	<h6>{{copyrightsText}}</h6>
    </div>
</div>