<div class="container-fluid">
    <div class="row">
    	<div class="col-lg-12">
        	<h1 style="">goodReadsAddict<small style="color: teal;">.com</small></h1>
        </div>
    </div>
    <br>
    	<div class="row">
			<div class="col-lg-12">
			<nav class="navbar navbar-default" role="navigation">
			  <div class="container-fluid">
				<div class="navbar-header navbar-center">
				  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				  </button> 
				  <a class="navbar-brand" style="font-family: Calibri; font-size: 21px; color: #000;" href="">
	                 goodReadsAddict
	              </a>
				</div>
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				  <ul class="nav navbar-nav">
					<li>
					<li>
	                    <a href="#/search">
	                        <span class="glyphicon glyphicon-search"></span> &nbsp;Search
	                    </a>
	                </li>
	                <li>
	                    <a href="#/favorites">
	                        <span class="glyphicon glyphicon-heart"></span> &nbsp;Favorites
	                    </a>
	                </li>
	                <li>
	                    <a href="#/read">
	                        <span class="glyphicon glyphicon-book"></span> &nbsp;To Read
	                    </a>
	                </li>
				  </ul>
				  <form class="navbar-form navbar-right" role="search">
					<div class="dropdown" style="">
						  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
							{{loggedInUser}}
							<span class="caret"></span>
						  </button>
						  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
							<li role="presentation"><a role="menuitem" tabindex="-1" href="#/profile"><span class="glyphicon glyphicon-user"></span> &nbsp;Profile</a></li>
							<li role="presentation"><a role="menuitem" tabindex="-1" href="#/changePassword"><span class="glyphicon glyphicon-cog"></span> &nbsp;Change Password</a></li>
							<li role="presentation" class="divider"></li>
							<li role="presentation"><a role="menuitem" tabindex="-1" href="#"><span class="glyphicon glyphicon-log-out"></span> &nbsp;Sign Out</a></li>
						  </ul>
						</div>
				  </form>
				</div>
			  </div>
			</nav>
        </div>
	</div>
	<br />
	<div class="alert alert-success" role="alert" ng-show="passwordChanged == 'true'">
		<p><span class="glyphicon glyphicon-ok"></span> &nbsp; Password changed successfully</p>
	</div>
	<div class="alert alert-warning" role="alert" ng-show="passwordChanged == 'false'">
		<p><span class="glyphicon glyphicon-warning-sign"></span> &nbsp; Please enter correct Current Password</p>
	</div>
	<div class="alert alert-warning" role="alert" ng-show="error == true">
		<p><span class="glyphicon glyphicon-warning-sign"></span> &nbsp; Confirm Password field does not match with your New Password</p>
	</div>
	<div class="alert alert-warning" role="alert" ng-show="emptyError == true">
		<p><span class="glyphicon glyphicon-warning-sign"></span> &nbsp; Please enter Password fields</p>
	</div>
    <div class="row" style="height: 500px;">
	    <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <div class="panel panel-default">
              <div class="panel-heading"><strong style="font-family: Calibri; font-size: 24px;">Change Password</strong></div>
              <div class="panel-body text-center">
              	<form class="form-horizontal" role="form">
				  <div class="form-group">
					<label for="inputPassword" class="col-sm-4 control-label">Current Password <font style="color: red">&nbsp;*</font></label>
					<div class="col-sm-6">
					  <input type="password" class="form-control" placeholder="Current Password" ng-model="currentPassword">
					</div>
				  </div>
				  <div class="form-group">
					<label for="inputPassword" class="col-sm-4 control-label">New Password <font style="color: red">&nbsp;*</font></label>
					<div class="col-sm-6">
					  <input type="password" class="form-control" placeholder="New Password" ng-model="newPassword">
					</div>
				  </div>
				  <div class="form-group">
					<label class="col-sm-4 control-label">Confirm New Password <font style="color: red">&nbsp;*</font></label>
					<div class="col-sm-6">
					  <input type="password" class="form-control" placeholder="Confirm New Password" ng-model="confirmPassword">
					</div>
				  </div>
				  <button type="submit" class="btn btn-primary" style="margin-right: 2%;" ng-click="updatePassword()">Submit</button>
				  <button type="button" class="btn btn-default" ng-click="clearFields()">Cancel</button>
				</form>
              </div>
            </div>
        </div>
        <div class="col-lg-2"></div>
    </div>
    <div class="row text-center footer">
    	<h6>{{copyrightsText}}</h6>
    </div>
</div>