<div class="container-fluid">
	<div class="text-center">      
      <div class="center-block">
              <h1><span style="font-size:100px; text-shadow: 2px 2px 0 grey;">goodReadsAddict </span><small style="color: teal; margin-left:-15px;">.com</small></h1>
      </div>    
      <div ng-click="changeDisplayText()" class="center-block">
              <h3 ng-bind="quote"></h3>
              <h4>-<span ng-bind="author"></span>-</h4>
      </div>      
    </div>
    <br/><br /><br />
    <div class="text-center">
      <div class="center-block">
        <img class="home_image" src="images/book1.jpg"></img>
      </div>
    </div>
    <br />
    <br />
	<div class="alert alert-warning" role="alert" ng-show="validUser == 'false'">
		Invalid Email ID or Password.
	</div>
    <div class="row" style="height: 500px;">
	    <div class="col-lg-3"></div>
        <div class="col-lg-6">
            <div class="panel panel-default">
              <div class="panel-heading">Welcome to <b><i>goodReadsAddict.com!</i></b></div>
              <div class="panel-body text-center">
              	<form>
                	<br />
                	<div class="input-group">
                      <span class="input-group-addon">Email ID</span>
                      <input type="text" class="form-control" placeholder="" ng-model="email">
                    </div>
                    <br />
                    <div class="input-group">
                      <span class="input-group-addon">Password</span>
                      <input type="password" class="form-control" placeholder="" ng-model="password">
                    </div>
                    <br />
                    <button type="submit" class="btn btn-primary" ng-click="authenticate()">
					<span class="glyphicon glyphicon-log-in"></span> &nbsp;Login
					</button>&nbsp;&nbsp;&nbsp;
					<a type="button" class="btn btn-default" href="#/signUp"><span class="glyphicon glyphicon-user"></span> &nbsp;Create an Account</a>
                </form>
              </div>
            </div>
        </div>
        <div class="col-lg-3"></div>
    </div>
    <div class="row text-center footer">
      <a type="button" class="btn btn-default" href="#/docs"><span class="glyphicon glyphicon-info-sign"></span> &nbsp;goodReadsAddict Developer API</a>
      <h6 ng-bind-html="copyrightsText"></h6>
    </div>
</div>